{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="container dark-grey-text mt-3">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
          <div class="container-fluid">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'shop:index' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop:product_list' %}">Каталог</a></li>
                <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
              </ol>
            </nav>
          </div>
        </nav>
        <div class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden d-xl-block">
          <div class="row wow fadeIn">
            <div class="col-md-6 mb-4">
                <img src="{% if product.image %}
                              {{ product.image.url }}
                          {% else %}
                              {% static 'img/no_image.png' %}
                          {% endif %}"
                    class="img-fluid product-detail">
            </div>
            <div class="col-md-6 mb-4">
              <div class="p-4">
                <div class="mb-3">
                  <a class="" href="{{ product.category.get_absolute_url }}">
                    <span class="badge bg-dark">{{ product.category.name }}</span>
                  </a>
                </div>
                <p class="lead">
                  <span>BYN {{ product.price }}</span>
                </p>
                <p class="lead font-weight-bold">{{ product.name }}</p>
                  {% if cart|is_incart:product %}
                <a href="{% url 'cart:cart_detail' %}" class="btn btn-primary btn-sm">
                    В корзине
                </a>
                {% else %}
                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                  {{ cart_product_form }}
                  {% csrf_token %}
                  <input type="submit" class="btn btn-primary btn-sm" value="В корзину">
                </form>
                {% endif %}
                <p>{{ product.description|linebreaks }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}