{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Все категории{% endif %}
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row gx-xl-3">
      <div class="col-xl-2 mb-4 mb-lg-0">
        <section>
          <div class="mb-7">
          </div>
          <div class="list-group mb-5" id="list-tab" role="tablist">
            <div class="btn-group-vertical">
              <a href="{% url 'shop:product_list' %}" class="btn btn-light {% if not category %}active{% endif %}">Все категории</a>
              {% for c in categories %}
                <a href="{{ c.get_absolute_url }}" class="btn btn-light {% if c.name == category.name %}active{% endif %}">{{ c.name }}</a>
              {% endfor %}
            </div>
        </div>
        </section>
      </div>
      <div class="col-xl-10 mb-4 mb-lg-0">
        <section class="mb-6">
              <div class="btn-group mb-4">
                <button type="button" class="btn btn-light dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                  {% if sort == 'asc' %}
                    Цена: по возрастанию
                  {% elif sort == 'desc' %}
                    Цена: по убыванию
                  {% else %}
                    Сортировка
                  {% endif %}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                       href="?sort=asc">
                      Цена: По возрастанию
                    </a></li>
                  <li><a class="dropdown-item"
                       href="?sort=desc">
                      Цена: По убыванию
                    </a></li>
                </ul>
                {% if sort %}<a class="btn btn-light" href="?"><i class="fas fa-times"></i></a>{% endif %}
              </div>

              <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
              {% for product in products %}
                <div class="col">
                  <div class="card h-100">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top"/>
                      <a href="{{ product.get_absolute_url }}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">BYN {{ product.price }}</h5>
                      <a href="{{ product.get_absolute_url }}" class="mb-1 text-reset d-block"><p class="card-text">{{ product.name }}</p></a>
                      <p class="text-muted mb-3">{{ product.category.name }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>

            {% if page.has_other_pages %}
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                <li class="page-item">
                  <a class="page-link page-item"
                     href="{% if sort %}?sort={{ sort }}&page={% else %}?page={% endif %}{{ page.previous_page_number }}"
                  >
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </li>
                {% endif %}
                {% for n in pages_around %}
                <li class="page-item {% if n == page.number %}active{% endif %}">
                  <a class="page-link"
                     href="{% if sort %}?sort={{ sort }}&page={% else %}?page={% endif %}{{n}}">
                    {{ n }}
                  </a>
                </li>
                {% endfor %}
                {% if page.has_next %}
                <li class="page-item">
                  <a class="page-link page-item"
                     href="{% if sort %}?sort={{ sort }}&page={% else %}?page={% endif %}{{ page.next_page_number }}"
                  >
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </section>
      </div>
    </div>
  </div>
{% endblock %}