img.img-fluid.product-detail {
    width:100%;
    float:left;
    padding:20px 20px 20px 20px;
}

.intro-img {
    height: 400px;
}

@media (min-width: 992px) {
    .intro-img {
        height: 600px;
    }
}

.db-image-intro {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
