{% extends 'base.html' %}

{% block content %}
<div class="container">
  <section class="mb-5">
  </section>
  <section class="mb-5">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Адрес</h5>
              <p class="card-text">
                <small class="text-muted">ул. Интернациональная д.17 кв. 13</small>
              </p>
              <h5 class="card-title">Телефон</h5>
              <p class="card-text">
                <small class="text-muted">+375298031580</small>
              </p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="mt-2 me-2" style="position:relative;overflow:hidden;">
              <a href="https://yandex.by/maps/26929/pruzhany/?utm_medium=mapframe&utm_source=maps"
                 style="color:#eee;font-size:12px;position:absolute;top:0px;">Пружаны
              </a>
              <a href="https://yandex.by/maps/26929/pruzhany/?ll=24.463281%2C52.557124&utm_medium=mapframe&utm_source=maps&z=14.12"
                 style="color:#eee;font-size:12px;position:absolute;top:14px;">Пружаны
              </a>
              <iframe src="https://yandex.by/map-widget/v1/-/CCU5I6QudB"
                      width="100%"
                      height="500"
                      frameborder="1"
                      allowfullscreen="true"
                      style="position:relative;">
              </iframe>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>

{% endblock content %}