{% extends 'base.html' %}
{% load static %}
{% block content %}
<div
  class="p-5 text-center bg-image intro-img mb-5"
  style="
    background-image: url({% static 'img/index-intro.webp' %});
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Добро пожаловать!</h1>
        <h4 class="mb-3">Выбираете игрушку или варежки? Загляните в каталог!</h4>
        <a class="btn btn-outline-light btn-lg" href="{% url 'shop:product_list' %}" role="button">Каталог</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <section class="mb-5">
      <div class="row gx-lg-5">
        {% if most_filed_categories %}
          {% for category in most_filed_categories %}
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="card bg-dark text-white">
              <div class="bg-image db-image-intro hover-overlay ripple" data-mdb-ripple-color="light" >
                <img
                     src="{% if category.image %}
                            {{ category.image.url }}
                          {% else %}
                            {% static 'img/no_image.png' %}
                          {% endif %}"
                     class="w-100 hover-overlay ripple"
                     />
                <a href="{{ category.get_absolute_url }}">
                  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)" >
                    <div class="d-flex justify-content-center align-items-center h-100">
                      <p class="text-white mb-0">{{ category.name }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>
  </div>

{% endblock content %}