{% extends 'base.html' %}

{% block title %}
    Спасибо!
{% endblock title %}

{% block content %}
    <h1>Спасибо за ваш заказ!</h1>
    <p>Ваш заказ был успешно оформлен. Номер заказа: <strong>{{ order.id}}</strong></p>
{% endblock content %}