{% extends 'base.html' %}

{% block title %}
  Оформление заказа
{% endblock title %}

{% block content %}
<div class="container my-5">
  <section>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body p-4">
            <p class="text-center fw-bold mb-4">
              Оформление заказа
            </p>
            <form method="POST">
              {% for field in form %}
              <div class="row g-1">
                <div class="col">
                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                  {{ field.errors }}
                  {% if field.name == 'phone' %}
                  <div class="input-group mb-4">
                  {% else %}
                  <div class="form-outline mb-4">
                  {% endif %}
                  {{ field }}
                  </div>
                </div>
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-white text-primary btn-block mb-4" data-mdb-ripple-color="danger">
                Заказать
              </button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card text-center">
          <div class="card-header"><h3>Ваш заказ</h3></div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
            {% for item in cart %}
              <li class="list-group-item">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ item.product.name }} <span class="badge bg-primary rounded-pill"></span></div>
                  <p>Количество: {{ item.quantity }}<br>
                     Цена за ед.: BYN {{ item.price }}<br>
                     Всего: BYN {{ item.total_price }}</p>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
          <div class="card-footer"><div class="ms-2 me-auto">
            <div class="fw-bold">Итого</div>
            <p>BYN {{ cart.get_total_price }}</p>
          </div></div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}